
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
* {
  font-family: 'Quicksand', sans-serif;
}

.site-layout-content {
  padding: 24px;
  background: #fff;
}

.shelf_container {
  background-color: white;
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content:center;
  align-items: center;
  flex-flow: row wrap;
}